@media (max-width:700px) and (min-width:350px) {

    .card {
        font-size: 95%;
        width: 40%;

    }

    * {
        font-size: 90%;
    }

}

@media (max-width:350px) {
    .card {
        width: 90%;
        font-size: 95%;
    }

    * {
        font-size: 90%;
    }
}

@media (min-width:700px) {
    .card {
        font-size: 95%;
        width: 20%;
    }

}

#root {
    background-repeat: no-repeat;
    background-image: url('https://wallpaperaccess.com/full/449937.jpg');
    background-attachment: fixed;
    background-position: center center;

    background-size: cover;

  }



.main-nav {
    background-color: rgba(158, 240, 255, 1);

}

.tile {
    background-color: transperent;
}



.youtube .fa:hover {
    color: rgb(238, 43, 43);
}

.twitter .fa:hover {
    color: rgb(30, 188, 250);
}

.facebook .fa:hover {
    color: rgb(57, 57, 240);
}

.instagram .fa:hover {
    color: rgb(238, 82, 108);
}

.telegram .fa:hover {
    color: aqua;
}

.linkedin .fa:hover {
    color: rgb(44, 23, 233);
}

.service-card {
    border-top-right-radius: 25%;
    border-bottom-left-radius: 25%;
    padding-bottom: 3rem;
}

.service-card:hover {
    animation-name: card-ani;
    animation-duration:01s;
    animation-iteration-count: 1;
}

@keyframes card-ani {

/* change it to border scolor and widthborder
border-right-top:2px solid red; */

    0% {box-shadow: 0px 10px 5px 0px rgba(245,247,247,0.98);
        -webkit-box-shadow: 0px 10px 5px 0px rgba(245,247,247,0.98);
        -moz-box-shadow: 0px 10px 5px 0px rgba(245,247,247,0.98);

    }

    25% {box-shadow: 5px 0px 5px 0px rgba(121,189,189,1);
        -webkit-box-shadow: 5px 0px 5px 0px rgba(121,189,189,1);
        -moz-box-shadow: 5px 0px 5px 0px rgba(121,189,189,1);

    }

    50% {box-shadow: 0px -10px 5px 0px rgba(58,224,224,1);
        -webkit-box-shadow: 0px -10px 5px 0px rgba(58,224,224,1);
        -moz-box-shadow: 0px -10px 5px 0px rgba(58,224,224,1);

    }

 75%{box-shadow: -5px 0px 5px 0px rgba(10,247,247,1);
    -webkit-box-shadow: -5px 0px 5px 0px rgba(10,247,247,1);
    -moz-box-shadow: -5px 0px 5px 0px rgba(10,247,247,1);

 }
 99%{
    box-shadow: 0px 10px 5px 0px rgba(245,247,247,0.98);
        -webkit-box-shadow: 0px 10px 5px 0px rgba(245,247,247,0.98);
        -moz-box-shadow: 0px 10px 5px 0px rgba(245,247,247,0.98);
 }

}
